<div  class="py-20 max-w-screen-xl mx-auto  px-2 md:px-6 text-center md:text-left">
    <!-- Header -->
    <header class="mb-10 sm:mb-12">
        <h2 class="">Notre équipe</h2>
    </header>

    <!-- Grid of members -->
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 auto-rows-auto justify-items-center md:justify-items-start">

        <!-- Card: Justin -->
        <article
            class="flex w-full h-full flex-col max-w-[450px] items-stretch rounded-[2rem] bg-[#f8f8f8] p-3 sm:p-4">
            <!-- Image -->
            <div class="">
                <div class="overflow-hidden rounded-[20px]   rounded-b-none">
                    <img class="aspect-square w-full h-full object-cover" alt="Portrait de Justin"
                        loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" srcset="
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small-p-500.png 500w,
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small-p-800.png 800w,
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small-p-1080.png 1080w,
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small-p-1600.png 1600w,
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small.png 2000w
      " src="https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922a5f740745ee512403f1_professional_headshot_justin_31122024_small.png" />
                </div>
            </div>

            <!-- Body -->
            <div
                class="flex h-full w-full flex-col items-start justify-between rounded-[1.25rem] rounded-t-none bg-white p-3 sm:p-4 gap-3 sm:gap-4">
                <div class="w-full">
                    <h3 class="text-xl font-medium ">Justin</h3>

                </div>

                <p class=" text-gray-700 leading-relaxed">
                    Fort de son double parcours pro. technique et business, Justin est votre partenaire
                    technique avec une vraie compréhension des enjeux de votre activité.
                </p>

                <!-- Socials -->
                <div class="mt-3 sm:mt-4 w-full  ">
                    <a href="https://www.linkedin.com/in/justin-warambourg/" target="_blank" rel="noopener"
                        class="inline-flex items-center bg-primary px-[10px] py-[4px] rounded-[4px]"
                        aria-label="Justin sur LinkedIn">
                        <i class="fa-brands text-white fa-linkedin-in text-xl sm:text-base"></i>
                    </a>
                </div>
            </div>
        </article>

        <!-- Card: Victor -->
        <article
            class="flex w-full h-full flex-col max-w-[450px] items-stretch rounded-[2rem] bg-[#f8f8f8] p-3 sm:p-4">
            <!-- Image -->
            <div class="">
                <div class="overflow-hidden rounded-[20px]  rounded-b-none">
                    <img class="aspect-square w-full h-full object-cover " alt="Portrait de Victor"
                        loading="lazy" sizes="(max-width: 800px) 100vw, 800px" srcset="
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922bfc484fa3507d4ad668_victor_bey_smith_headshot-p-500.jpeg 500w,
        https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922bfc484fa3507d4ad668_victor_bey_smith_headshot.jpeg 800w
      " src="https://cdn.prod.website-files.com/688cd4e822ff5df34f6a7db3/68922bfc484fa3507d4ad668_victor_bey_smith_headshot.jpeg" />
                </div>
            </div>

            <!-- Body -->
            <div
                class="flex h-full w-full flex-col items-start justify-between rounded-[1.25rem]  rounded-t-none bg-white p-3 sm:p-4 gap-3 sm:gap-4">
                <div class="w-full">
                    <h3 class="text-xl sm:text-2xl font-medium">Victor</h3>
                </div>

                <p class=" text-gray-700 leading-relaxed">
                    Spécialisé dans l'optimisation des processus métiers, Victor est votre partenaire pour la conception de solutions dédiées à votre activité.
                </p>

                <!-- Socials -->
                <div class="mt-3 sm:mt-4 w-full l ">
                    <a href="https://www.linkedin.com/in/victorbeysmith/" target="_blank" rel="noopener"
                    class="inline-flex items-center bg-primary px-[10px] py-[4px] rounded-[4px]"
                    aria-label="Victor sur LinkedIn">
                    <i class="fa-brands text-white fa-linkedin-in text-xl sm:text-base"></i>
                </a>
                </div>
            </div>
        </article>
    </div>
</div>