<div class="max-w-screen-xl mx-auto  md:px-6 text-center md:text-left ">
    <div class="grid grid-cols-1 lg:space-x-10 md:space-x-2 md:grid-cols-2   md:rounded-[20px] bg-cover bg-center bg-no-repeat lg:px-20 lg:py-24  md:px-5 px-2 py-10 relative"
        style="background-image: url('./assets/abstract_bg1.jpg');">
        <div class="absolute inset-0 bg-white/35 rounded-[20px]"></div>
        <div class="relative z-10 flex flex-col h-[92%]">
            <div class="mb-6 ">
                <h2 class="">Optimisez votre activité avec l'IA.</h2>
            </div>
            <div class="mb-10 text-lg">
                <p>
                    Réservez une consultation de 30 minutes pour en savoir plus sur comment les nouveaux
                    outils
                    d'IA&nbsp;peuvent aider votre activité.</p>
            </div>
            <div class="mt-auto">
                <a class="btn-primary text-lg py-4"
                    href="https://calendly.com/justin-warambourg/consultation-ingenia" target="_blank">
                    Réserver une consultation gratuite
                </a>
            </div>
        </div>

        <div class=" md:hidden flex flex-row items-center justify-center mt-16 mb-7 space-x-2 z-10 mx-1">
            <hr class="flex-1 border-gray-600">
            <p class="whitespace-nowrap text-gray-600">Ou remplissez le formulaire ci-dessous</p>
            <hr class="flex-1 border-gray-600">
        </div>
        <div class="h-[380px] overflow-hidden z-10 md:mt-[-30px]">
            <iframe id="JotFormIFrame-252401697918364" title="Appointment Request Form"
                onload="window.parent.scrollTo(0,0)" allowtransparency="true"
                allow="geolocation; microphone; camera; fullscreen; payment"
                src="https://form.jotform.com/252401697918364" frameborder="0"
                style="min-width:100%;max-width:100%;border:none;" scrolling="no"> </iframe>
            <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
            <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-252401697918364']", "https://form.jotform.com/")</script>
        </div>
    </div>
</div>